/*----------------main-page-----------------------*/
.first-block {
  position: relative;
  width: 100%;
  height: 810px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.first-block video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100vh;
  height: auto;
  width: auto;
  z-index: -100;
  object-fit: cover;
}

.first-block-layout {
  position: absolute;
  width: 70%;
  z-index: 1;
  height: 100%;
  top: 420px;
  left: -300px;
  transform: translate(0, -50%) skew(-25deg);
  background: rgba(10, 96, 165, .7);
}

.content-first-block {
  margin-top: 150px;
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  z-index: 3;
}

.first-block-title {
  display: flex;
  align-items: center;
}

.first-block-title h1 {
  font-size: 68px;
  padding-right: 25px;
  border-right: 1px solid white;
  margin: 0;
  font-family: 'Roboto';
}

.first-block-title h3 {
  padding-left: 25px;
  font-size: 20px;
  font-family: "Open Sans";
  line-height: 20px;
}

.first-block-description-one {
  width: 450px;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
}

.first-block-description-second {
  width: 450px;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
}

.content-styled-link {
  text-decoration: none;
  color: white;
  padding: 14px 30px;
  border: 1px solid white;
  font-family: OpenSansSB, sans-serif;
  font-size: 18px;
  margin-top: 20px;
}

.second-block {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #eee;
}

.second-block-content {
  display: flex;
  margin-top: -80px;
  margin-bottom: 75px;
  justify-content: space-between;
  gap: 10px;
}

.second-block-content-card {
  width: 530px;
  display: flex;
  flex-direction: column;
  padding: 31px 31px 0;
  background-color: white;
  z-index: 2;
  box-shadow: 0 0 1em 0.5em rgba(0, 0, 0, .05);
}

.test {
  height: 350px;
}

.test1 {
  height: 300px;
}

.card-title {
  font-family: "Open Sans";
  font-size: 36px;
  color: #2083d2;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}

.card-description {
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 1.2;
  color: black;
}

.more {
  align-self: self-end;
  color: #2083d2;
  padding-bottom: 5px;
  border-bottom: 1px solid #2083d2;
  text-decoration: none;
  font-family: "Open Sans";
  font-weight: 600;
}

.three-block {
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.three-block-content {
  width: 1200px;

}

.three-block-title {
  margin: 0;
  align-self: flex-start;
  font-family: "Open Sans";
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.three-block-main-content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.three-block-left {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.white-line {
  width: 200px;
  height: 5px;
  background-color: white;
}

.three-block-description {
  font-family: "Open Sans";
  margin-top: 40px;
}

.shema {
  display: flex;
  align-items: center;
}


.shema a {
  padding: 30px 40px;
  border: 1px solid white;
  display: flex;
  gap: 20px;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 22px;
  font-family: "Open Sans";
  font-weight: 800;
  width: 300px;
  transition: background-color 0.6s ease;

  &:hover {
    background-color: #2083d2;
  }
}

.shemas .shema:nth-child(odd) {
  margin-left: -200px;
}

.three-block-podrobneye {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}


@media screen and (max-width: 1200px) {
  .second-block-content {
    display: flex;
    flex-direction: column;
  }

  .shemas .shema:nth-child(odd) {
    margin-left: 0px;
  }

  .three-block-main-content {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
  }

  .first-block-layout {
    left: -1000px;
    width: 1600px;
  }

  .three-block-title {
    padding-left: 140px;
  }

  .three-block-main-content {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 140px;
  }

  .shema a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .content-first-block {
    width: 100%;
    padding-left: 100px;
  }
}

@media screen and (max-width: 676px) {
  .content-first-block {
    padding-left: 20px;
  }
}

@media screen and (max-width: 600px) {
  .first-block-title {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .first-block-title h3 {
    padding-left: 0;
    padding-top: 10px;
    margin: 0;
  }

  .first-block-title h1 {
    padding-right: 0;
    border-right: none;
    padding-bottom: 10px;
  }

  .second-block-content-card {
    width: 300px;
    height: 65%;
    padding-bottom: 15px;
  }

  .content-first-block p {
    width: 80%;
  }

  .content-first-block {
    margin-top: 60px;
  }

  .first-block-description-second {
    margin: 0;
  }

  .three-block-title {
    padding-left: 50px;
  }

  .three-block-main-content {
    padding-left: 50px;
  }
}

@media screen and (max-width: 450px) {
  .shema a {
    font-size: 12px;
    padding: 5px;
  }
}

@media screen and (max-width: 375px) {
  .shema {
    width: 250px;
    height: 100px;
  }

  .second-block-content-card {
    padding: 5px 5px 20px;
  }
}


/*--------------------complex---------------------------*/

.complex-content {
  display: flex;
  justify-content: center;
  background-color: #eee;
  flex-direction: column;
  align-items: center;
}

.complex-title {
  font-family: "Open Sans";
  font-size: 40px;
  margin-top: 60px;
  height: 260px;
  margin-bottom: 30px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.complex-title-layout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(10, 96, 165, .7);
  z-index: 2;
}

.complex-title h1 {
  color: white;
  z-index: 3;
  position: relative;
  font-size: 44px;
  font-family: Roboto;
}

.complex-title-text-wrapper {
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.complex-info-wrapper {
  width: 1150px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 25px;
  margin-top: -100px;
  z-index: 30;
  margin-bottom: 60px;
  box-shadow: 0 0 1em 0.5em rgba(0, 0, 0, .1);
}

.complex-img-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Три столбца с равными долями */
  gap: 10px; /* Расстояние между изображениями */
}

.complex-img-wrapper img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.complex-info-wrapper ul {
  list-style: none;
  padding: 0;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 1.2;
  color: black;
}

.complex-info-wrapper ul li {
  line-height: 20px;
}

.complex-info-wrapper ul li::before {
  content: '\2022';
  color: #2083d2;
  font-size: 40px;
  margin-right: 0.1em;
  vertical-align: middle;
}

.complex-list {
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 600;
  line-height: 1.2;
  color: black;
}

@media screen and (max-width: 1200px) {
  .complex-title-text-wrapper {
    width: 800px;
  }

  .complex-info-wrapper {
    width: 800px;
  }

  .complex-title-layout {
    display: none;
  }
}

@media screen and (max-width: 880px) {
  .complex-title-text-wrapper {
    width: 500px;
  }

  .complex-info-wrapper {
    width: 500px;
  }
}


@media screen and (max-width: 570px) {
  .complex-title-text-wrapper {
    width: 260px;
  }

  .complex-info-wrapper {
    width: 260px;
  }

  .complex-title-text-wrapper h1 {
    font-size: 28px;
  }

  .info-title {
    font-size: 28px;
  }

  .complex-img-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Три столбца с равными долями */
    gap: 10px; /* Расстояние между изображениями */
  }
}

@media screen and (max-width: 510px) {
  .info-title {
    font-size: 28px;
  }
}

@media screen and (max-width: 448px) {
  .complex-title-text-wrapper h1 {
    font-size: 24px;
    padding-top: 20px;
  }

  .info-title {
    font-size: 22px;
  }
}

/*------------history------------------*/


.history-page {
  display: flex;
  justify-content: center;
  background-color: #eee;
  flex-direction: column;
  align-items: center;
  z-index: -1;
}

.history-content {
  position: relative;
  margin-top: 180px;
  width: 1200px;
  display: flex;
  gap: 80px;
  justify-content: flex-start;
}

.line_history {
  position: relative;
  align-items: center;
  width: 15px;
  background-color: #cbcbcb;
  height: 5400px;
}

.block-line {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #f5eae3;
}

.top-1 {
  top: 5px;
}

.top-2 {
  top: 15px;
}

.top-3 {
  top: 25px;
}

.top-4 {
  top: 5390px;
}

.top-5 {
  top: 5380px;
}

.top-6 {
  top: 5370px;
}

.history-card {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  box-shadow: 0 0 1em 0.3em rgba(0, 0, 0, .1);
}

.history-card span {
  text-indent: 10px;
  margin-bottom: 20px;
  font-family: "Open Sans";
  font-weight: 400;
  color: black;
  line-height: 20px;
}

.history-card-title {
  color: white;
  padding: 10px 20px 10px 20px;
  background-color: #2083d2;
  display: inline-block;
  width: max-content;
  margin: -20px 0 0 -20px;
  text-align: center;
  z-index: 40;
  font-family: Roboto;
  font-size: 50px;
  font-weight: 600;
}

.history-card-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.history-img-wrapper {
  display: flex;
  margin-bottom: 20px;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.bookmark {
  position: relative;
  display: flex;
  align-items: center;
}

.bookmark-left {
  position: absolute;
  top: 19px;
  z-index: 1;
  left: -20px;
  width: 55px;
  height: 55px;
  background-color: #2083d2;
  transform: translate(-50%, -50%) rotate(45deg);
}

.bookmark-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.bookmark-circle {
  position: absolute;
  transform: translate(0, -50%);
  background-color: #2083d2;
  width: 20px;
  height: 20px;
  left: -93px;
  border-radius: 50%;
}

@media screen and (max-width: 1200px) {
  .history-content {
    width: 800px;
  }

  .line_history {
    height: 9800px;
  }

  .top-4 {
    top: 9790px;
  }

  .top-5 {
    top: 9780px;
  }

  .top-6 {
    top: 9770px;
  }
}

@media screen and (max-width: 820px) {
  .history-content {
    width: 600px;
  }

  .history-card-title {
    font-size: 40px;
  }

  .line_history {
    display: none;
  }

  .bookmark-left {
    display: none;
  }

  .bookmark-circle {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .history-content {
    width: 400px;
  }

  .history-card-title {
    font-size: 30px;
  }

  .history-img-wrapper img {
    width: 320px;
  }
}

@media screen and (max-width: 440px) {
  .history-card-title {
    font-size: 20px;
  }

  .history-content {
    width: 300px;
  }

  .history-img-wrapper img {
    width: 260px;
  }
}

/*---------нормативные документы----------*/
.download-doc-btn {
  display: flex;
  align-items: center;
  background-color: #e4e4e4;
  width: 550px;
  height: 70px;
}

.download-btn {
  background-color: #2083d2;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.download-btn img {
  width: 30px;
  padding: 20px;
}

.download-doc-btn-text {
  text-align: left;
  padding: 20px;
  font-family: "Open Sans";
  font-weight: 400;;
}

.download-link {
  text-decoration: none;
  color: black;
}

.btns-download-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  gap: 20px;
}

@media screen and (max-width: 1200px) {
  .download-doc-btn {
    width: 800px;
  }

  .btns-download-wrapper {
    flex-direction: column;
  }
}

@media screen and (max-width: 880px) {
  .download-doc-btn {
    width: 500px;
  }

  .download-doc-btn-text {
    font-size: 10px;
  }
}

@media screen and (max-width: 570px) {
  .download-doc-btn {
    width: 300px;
  }
}


/*---------contacts--------------*/

.contacts-style {
  margin-bottom: 0;
}

.complex-title-text-wrapper-description {
  z-index: 2;
  color: white;
  font-size: 12px;
  font-family: "Open Sans";
  font-weight: 600;
}

.contacts-info-wrapper {
  width: 100%;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts-content {
  width: 1200px;
}

.contacts-content-text {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.contacts-content-text a {
  text-decoration: none;
  color: #0000EE;
}

.contacts-content-text a:active {
  color: red;
}

.contacts-content-title {
  font-family: "Open Sans";
  font-size: 36px;
  color: #2083d2;
  font-weight: 600;
  margin-bottom: 20px;
}

@media screen and (max-width: 1200px) {
  .contacts-content {
    width: 800px;
  }

  .complex-title::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    z-index: 1;
  }
}

@media screen and (max-width: 880px) {
  .contacts-content {
    width: 500px;
  }
}

@media screen and (max-width: 570px) {
  .contacts-content {
    width: 260px;
  }

  .contacts-content-text {
    font-size: 12px;
  }
}

/*----------career-----------------*/

.career-title-wrapper {
  position: relative;
  width: 100%;
  height: 610px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.career-title-img-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.career-title-layout {
  position: absolute;
  width: 70%;
  z-index: 1;
  height: 100%;
  top: 320px;
  left: -300px;
  transform: translate(0, -50%) skew(-25deg);
  background: rgba(10, 96, 165, .7);
}

.career-title-content {
  width: 1200px;
  z-index: 1;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  color: white;
  font-family: "Open Sans";
}

.career-title-content h1 {
  font-size: 68px;
  margin: 0;
}

.career-title-content p {
  width: 450px;
}

.career-content-wrapper {
  width: 100%;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.career-content {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin-top: -50px;
}

.career-card-style {
  height: 200px;
  margin-bottom: 30px;
}

.career-long-card-style {
  width: 1200px;
  display: flex;
  padding: 0;
  flex-direction: row;
  margin-bottom: 40px;
}

.long-card-content {
  padding: 40px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1200px) {
  .career-content {
    width: 600px;
    flex-direction: column;
  }

  .career-card-style {
    width: 600px;
  }

  .career-long-card-style {
    width: 660px;
  }

  .career-long-card-style img {
    width: 300px;
  }

  .career-title-content {
    align-items: center;
  }

  .career-title-layout {
    display: none;
  }

  .career-title-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    z-index: 1;
  }
}

@media screen and (max-width: 667px) {
  .career-content {
    width: 300px;
    flex-direction: column;
  }

  .career-card-style {
    width: 300px;
    height: 300px;
  }

  .career-long-card-style {
    width: 360px;
    flex-direction: column;
  }

  .career-long-card-style img {
    width: 360px;
  }

  .career-title-content h1 {
    font-size: 38px;
    margin: 0;
  }

  .career-title-content p {
    width: 300px;
    font-size: 12px;
  }
}

@media screen and (max-width: 380px) {
  .career-content {
    width: 280px;
    flex-direction: column;
  }

  .career-card-style {
    width: 280px;
    height: 300px;
  }

  .career-long-card-style {
    width: 290px;
    flex-direction: column;
  }

  .career-long-card-style img {
    width: 290px;
  }

}

/*---------integral-shemas-------*/

.integral-shemas-content {
  display: flex;
  justify-content: center;
  background-color: #eee;
  flex-direction: column;
  align-items: center;
}

.integral-shemas-cards-wrapper {
  background-color: white;
  padding: 20px 20px 40px;
  margin-top: -100px;
  margin-bottom: 60px;
  z-index: 2;
  width: 1160px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.integral-shemas-card {
  display: flex;
  padding: 20px;
  align-items: flex-start;
  height: 200px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}


.integral-shemas-card-one {
  background-image: url("/img/SVC.png");
}

.integral-shemas-card-two {
  background-image: url("/img/two.png");
}

.integral-shemas-card-three {
  background-image: url("/img/three.png");
}

.integral-shemas-card h1 {
  color: white;
  z-index: 3;
  font-family: "Open Sans";
  font-size: 22px;
}

.integral-shemas-style {
  background: rgba(10, 96, 165, .7)
}
.integral-shemas-cards-wrapper a {
  z-index: 3;
  text-decoration: none;
  width: 28%;
}

@media screen and (max-width: 1200px) {
  .integral-shemas-cards-wrapper {
    width: 800px;
    flex-direction: column;
  }

  .integral-shemas-style {
    display: block;
  }

  .integral-shemas-cards-wrapper a {
    width: 80%;
  }
}

@media screen and (max-width: 880px) {
  .integral-shemas-cards-wrapper {
    width: 450px;
  }
}

@media screen and (max-width: 570px) {
  .integral-shemas-cards-wrapper {
    width: 280px;
  }
}



