
.search-wrapper {
  margin-top: 124px;
  margin-left: -328px;
  background: white;
  padding: 20px;
  display: none;
  align-items: center;
  gap: 15px;

}
.search-wrapper input {
  border: none;
  border-bottom: 1px solid #2083d2;
  font-family: "Open Sans";
  font-size: 16px;
  outline: none;
}
.send-search {
  border: none;
  background: none;
  color: #2083d2;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 16px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.send-search:hover {
  background: none;
  cursor: pointer;
}


body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
}

header {
  position: fixed;
  z-index: 998;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #2083d2;
  height: 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  height: 60px;
  color: white;
  font-size: 15px;
  font-weight: 800;
  font-family: 'Open Sans', sans-serif;
}

.header-logo-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-logo-wrapper > img {
  height: 35px;
}

nav {
  display: flex;
}

.header-menu > nav > ul {
  display: flex;
  align-items: center;
  list-style: none;
  cursor: pointer;
  padding: 0;
}

nav > .dropdown > button {
  padding: 20px 20px 18px;
}

button:hover {
  background-color: #0f6ab2;
}

.header-search-button {
  background-color: #3790d7;
  border: none;
  width: 58px;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: #0f6ab2;
    cursor: pointer;
  }
}

.header-mail-button {
  text-decoration: none;
  color: white;
  padding: 20px 25px 18px;

  &:hover {
    background-color: #0f6ab2;
  }
}

/* Стиль Выпадающей Кнопки */
.dropbtn {
  display: flex;
  align-items: center;
  background-color: #2083d2;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  font-family: "Open Sans";
  height: 100%;
  white-space: nowrap;

  &:hover {
    background-color: #0f6ab2;
  }
}

.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  padding: 20px;
  top: 60px;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #2083d2;
  padding: 2px 16px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  margin-top: 13px;
  border-bottom: 1px solid white;
  font-weight: 600;
}

.dropdown-content a:hover {
  border-bottom: 1px solid #2083d2;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

.menu__drop_block__item {
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: white;
}

/* Стили для мобильного выпадающего меню */
.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white; /* Цвет фона по вашему выбору */
  z-index: 1000;
}

/* Стили для кнопки закрытия */
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* Стили для отображения/скрытия кнопки "burger-menu" */
.burger-menu {
  display: none;
  background-color: #2083d2;
  border: none;
}

@media screen and (max-width: 1200px) {
  nav > .dropdown > button {
    padding: 5px;
  }
  .header-logo-wrapper {
    gap: 5px;
  }

  .header-mail-button {
    padding: 0;
  }
}







@media only screen and (max-width: 896px) {
  .header-menu nav {
    display: none;
  }

  .header-mail-button {
    display: none;
  }

  /* Показать кнопку "burger-menu" */
  .burger-menu {
    display: block;
  }
  .close-btn {
    border: none;
    background-color: white;
    width: 40px;
    height: 40px;
  ;
  }
  nav > .dropdown > button {
    padding: 10px;
    background-color: white;
    color: black;
  }
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }

}



